<footer class="footer">
    <div class="container">
        <div class="row first-section d-flex align-items-center">
            <div class="col-md-6 col-md-offset-6  d-flex align-items-center">
                <p class="text">Top companies choose <a href="/" class="link">F8 Education</a> to build in-demand career skills.</p>
            </div>
            <div class="col-md-6 col-md-offset-6 d-flex justify-content-end">
                <ul class="list-companies d-flex list-unstyled mb-0">
                    <li><img alt="Nasdaq" height="44" width="115" src="https://s.udemycdn.com/partner-logos/v4/nasdaq-light.svg"></li>
                    <li><img alt="Volkswagen" height="44" width="44" src="https://s.udemycdn.com/partner-logos/v4/volkswagen-light.svg"></li>
                    <li><img alt="Box" height="44" width="67" src="https://s.udemycdn.com/partner-logos/v4/box-light.svg"></li>
                    <li><img alt="NetApp" height="44" width="115" src="https://s.udemycdn.com/partner-logos/v4/netapp-light.svg"></li>
                    <li><img alt="Eventbrite" height="44" width="115" src="https://s.udemycdn.com/partner-logos/v4/eventbrite-light.svg"></li>
                </ul>
            </div>
        </div>

        <div class="footer-section-main" >
            <div class="links row">
                <ul class="col-md-2 col-md-offset-2 list-unstyled mb-0">
                    <li class="pb-2"><a class="nav-link" href="#">F8 Education</a></li>
                    <li class="pb-2"><a class="nav-link" href="#">Teach on Udemy</a></li>
                    <li class="pb-2"><a class="nav-link" href="#">Get the app</a></li>
                    <li class="pb-2"><a class="nav-link" href="#">About us</a></li>
                    <li><a class="nav-link" href="#">Contact us</a></li>
                </ul>
                <ul class="col-md-2 col-md-offset-2 list-unstyled mb-0">
                    <li class="pb-2"><a class="nav-link" href="#">Careers</a></li>
                    <li class="pb-2"><a class="nav-link" href="#">Blog</a></li>
                    <li class="pb-2"><a class="nav-link" href="#">Help and Support</a></li>
                    <li class="pb-2"><a class="nav-link" href="#">Affiliate</a></li>
                    <li ><a class="nav-link" href="#">Investors</a></li>
                </ul>
                <ul class="col-md-2 col-md-offset-2 list-unstyled mb-0">
                    <li class="pb-2"><a class="nav-link" href="#">Terms</a></li>
                    <li class="pb-2"><a class="nav-link" href="#">Privacy policy</a></li>
                    <li class="pb-2"><a class="nav-link" href="#">Cookie settings</a></li>
                    <li class="pb-2"><a class="nav-link" href="#">Sitemap</a></li>
                    <li ><a class="nav-link" href="#">Accessibility statement</a></li>
                </ul>

                <div class="col-md-6 col-md-offset-6 d-flex justify-content-end align-items-end flex-column">
                    <div class="credit"> &copy; 2022 Sadboizs, Inc. </div>
                </div>
            </div>

        </div>
        

    </div>
</footer>